%br
.center
  - klass = 'btn waves-effect'
  = link_to_hash_if_current t('buttons.view'), note, class: klass
  = link_to_hash_if_current t('app.review'), review_note_path(note), class: klass
  = link_to_hash_if_current Quiz.model_name.human, quiz_note_path(note), class: klass
