- args = { required: false, wrapper: false, include_blank: true, label: false}

-#
-# User
-#

.section
  .card-title= Note.human_attribute_name(:user)
  - collection = User.by_name
  = f.input :user, args.merge(collection: collection, label_method: :to_s, value_method: :to_param, selected: params[:filter].try(:[], :user), input_html: { class: "icons", multiple: true })

-#
-# Tag
-#

.section
  .card-title= Note.human_attribute_name(:tags)
  = f.input :tag, args.merge(input_html: { class: "chips jsAjaxAutocomplete" })
