.card.small.blue-grey[note]
  .card-content.white-text
    %span.card-title= link_to note.title, note, class: 'white-text'
    %p.grey-text.text-lighten-1= note.content.truncate(180, separator: ' ')
  .card-action
    = link_to t('notes.show.link'), note
    / = link_to 'Quiz', '#'
