- record = @<%= singular_table_name %>


.container.max-width600
  = simple_form_for(record) do |f|
    = render "form_errors", record: record

    .card-panel
      .form-inputs
      <%- attributes.each do |attribute| -%>
        = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
      <%- end -%>

    = render "buttons/submit", f: f
