// IMPORTS (ORDER IS IMPORTANT)

// COLORS

@import "materialize/components/color";
$primary-color-name: "light-blue";
$secondary-color-name: "orange";
$primary-color: color($primary-color-name, "darken-2") !default;
$secondary-color: color($secondary-color-name, "darken-1") !default;
$body-bg-color: desaturate(color($primary-color-name, "lighten-4"), 60%);

// SCREEN SIZES

$xlarge-screen-up: 1431px !default;
$xlarge-screen: 1430px !default;
$large-screen: 1200px !default; // NOTE: Do note change this one
$large-and-down: "only screen and (max-width : #{$large-screen})" !default;
$xlarge-and-up: "only screen and (min-width : #{$xlarge-screen-up})" !default;
$xlarge-and-down: "only screen and (max-width : #{$xlarge-screen})" !default;

// ADDITIONAL

//  Vendor
@import "materialize";
@import "material_icons";
@import "font-awesome";
// Site
@import "template";
@import "vendor_customization";
@import "site";
@import "utility";
