body {
    background: color($primary-color-name, "lighten-4");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

a.brand-logo {
  span {
     font-weight: 100;
     font-style: italic;
  }
}

footer {
  // $color: desaturate(color($primary-color-name, "darken-4"), 10%);
  // background: $color !important;
  ul li {
    display: inline;
    margin: 0 8px;
  }
  .footer-copyright {
    // background: darken($color, 5%) !important;
  }
}

.breadcrumbs {
    color: color('blue-grey', 'lighten-1');
    a {
      color: $secondary-color;
    }
  .current {
    // color: color('grey', 'lighten-4');
  }
}
