@mixin placeholder_color($color) {
  &:-moz-placeholder { color: $color; opacity: 1; } /* Firefox 4 to 18 */
  &::-moz-placeholder { color: $color; opacity: 1; } /* Firefox 19+ */
  &:-ms-input-placeholder { color: $color; } /* Internet Explorer 10+ */
  &::-webkit-input-placeholder { color: $color; } /* WebKit browsers */
}
