
//
//  N
//

// Note: In order to get a the proper variable width search bar in the
// navigation, you need to adjust the `li.search` viewport
// width (vw) and the `li.search input` viewport width
nav {
  li.search {
    width: 34vw;
    input {
      padding-left: 50px;
      width: 26vw;
    }
    .material-icons {
      position: relative;
      left: 40px;
      z-index: 1;
    }
    .autocomplete-content {
      width: 29.5vw;
      position: relative;
      left: 28px;
      top: -2px;
    }
  }
}


//
//  T
//

.text-editor {
  input, textarea { width: 100% }
  .title {
    background: white;
    border: none;
    border-bottom: 2px solid #DDD;
    color: #888;
    font-size: 2.3em;
    font-weight: 100;
    height: 80px;
    margin: 0 0 -7px 0;
    padding: 20px;
    resize: none;
    // Because the right side sticks out too much on larger screens
    // @media #{$large-and-up} { width: 99.7% }

    &:hover, &:focus, &:active, &.active { outline: none }
  }
}

// reference: http://stackoverflow.com/questions/19346818/tinymce-toolbar-location-at-bottom-of-editor
.mce-container-body.mce-stack-layout {
  display: flex;
  flex-direction: column-reverse;
}


table.review-table {
  td {
    &.number { font-weight: bold }
    &.term { font-weight: bold }
    &.definition {  }
  }
}
