//
// Mixins
//

@mixin placeholder_color($color) {
  &:-moz-placeholder { color: $color; opacity: 1; } /* Firefox 4 to 18 */
  &::-moz-placeholder { color: $color; opacity: 1; } /* Firefox 19+ */
  &:-ms-input-placeholder { color: $color; } /* Internet Explorer 10+ */
  &::-webkit-input-placeholder { color: $color; } /* WebKit browsers */
}

//
// Browser
//

body {
  background: $body-bg-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

form {
  .input-field { margin-bottom: 2rem }
  .error { color: color('red', 'base') }
  .hint { color: color('grey', 'base') }
}

h1, h2, h3, h4, h5, h6 {
  color: #666;
  font-weight: 300;
}

label,
.input-field label,
.input-field label:not(.label-icon).active {
  font-size: 1em;
}

main { flex: 1 0 auto }

nav {
  img {
    width:  36px;
    position: relative;
    top: 14px;
    right: 6px;
  }
}

table {
  td.actions {
    a { margin: 8px }
  }
}

//
// Classes
//

.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.body-bg-color { background: $body-bg-color }
.primary-color { background: $primary-color }
.secondary-color { background: $secondary-color }
.primary-color-text { color: $primary-color }
.secondary-color-text { color: $secondary-color }

.small-superscript {
  font-size: 50%;
  position: relative;
  top: -20px;
  left: -10px;
}
