.clear-both { clear: both }
.bold { font-weight: bold }
.empty-space { margin-top: 10em }

.margin-horizontal {
  margin-left : auto;
  margin-right: auto;
}

// PIXEL SPACING

.margin2 { margin: 2px }
.padding2 { padding: 2px }

$i: 4;
@while $i <= 32 {
  $px: unquote($i + "px");
  .margin#{$i} { margin: $px }
  .padding#{$i} { padding: $px }
  $i: $i + 4;
}

$i: 1;
@while $i <= 4 {
  $percent: unquote($i + "%");
  .margin-#{$i}percent { margin: $percent }
  $i: $i + 1;
}

// POSITION

.down4 {
  position: relative;
  top: 4px;
}

.v-center-h-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.max-width600 { max-width: 600px }
.width-100percent { width: 100% }

.s-no-margin {@media #{$medium-and-down} { margin: 0 !important } }
.m-no-margin {@media #{$large-and-down} { margin: 0 !important } }
.l-no-margin {@media #{$xlarge-and-down} { margin: 0 !important } }

.s-full-width {@media #{$small-and-down} { width: 100% } }
.m-full-width {@media #{$medium-and-down} { width: 100% } }
.l-full-width {@media #{$large-and-down} { width: 100% } }

// WIDTH

.width9em { width: 9em }
