.block { display: block }
.bold { font-weight: bold }
.clear-both { clear: both }
.empty-space { margin-top: 10em }
.inline { display: inline }

.margin-horizontal {
  margin-left : auto;
  margin-right: auto;
}

.no-border { border: 0 !important }
.no-margin { margin: 0 !important }
.no-padding { padding: 0 }
.margin2 { margin: 2px }
.padding2 { padding: 2px }
.padding2-horizontal { padding-left: 2px; padding-right: 2px }

$i: 4;
@while $i <= 32 {
  $px: unquote($i + "px");
  .margin#{$i} { margin: $px }
  .padding#{$i} { padding: $px }
  .padding#{$i}-horizontal { padding-left: $px; padding-right: $px }
  $i: $i + 4;
}

$i: 1;
@while $i <= 4 {
  $percent: unquote($i + "%");
  .margin-#{$i}percent { margin: $percent }
  $i: $i + 1;
}

$i: 4;
@while $i <= 12 {
  $px: unquote($i + "px");
  .border-radius#{$i} { border-radius: $px }
  $i: $i + 4;
}

// POSITION

.down4 {
  position: relative;
  top: 4px;
}

.v-center-h-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

$i: 300;
@while $i <= 600 {
  $px: unquote($i + "px");
  .max-width#{$i} { max-width: $px }
  $i: $i + 100;
}
.width-100percent { width: 100% }

.s-no-margin-horizontal {
  @media #{$medium-and-down} { margin-left: 0 !important; margin-right: 0 !important }
}
.m-no-margin-horizontal {
  @media #{$large-and-down} { margin-left: 0 !important; margin-right: 0 !important }
}
.l-no-margin-horizontal {
  @media #{$xlarge-and-down} { margin-left: 0 !important; margin-right: 0 !important }
}

.s-full-width {@media #{$small-and-down} { width: 100% } }
.m-full-width {@media #{$medium-and-down} { width: 100% } }
.l-full-width {@media #{$large-and-down} { width: 100% } }
.xl-full-width {@media #{$xlarge-and-down} { width: 100% } }

.transparent-lighten-5 { background: rgba(255, 255, 255, .5); }
