- if record.errors.any?
  .card.padding8.red.lighten-5
    %h5.red-text.text-darken-5= t('simple_form.error_notification.default_message')
    %ul.browser-default
      - record.errors.full_messages.uniq.each do |msg|
        %li.red-text.text-darken-3= msg
