%h1 500: Internal Server Error
%br
.center-block.max-width-700.well.well-sm
  %h3
    We're sorry for the inconvenience but we seem to be experiencing technical difficulties. Please wait 30 seconds and try that action again.
  %p.bold
    If the problem persists, please contact the site administrator with the following details:
  %ul
    %li
      The link you followed:
      %i.bold #{url_for}
    %li The action you were attempting
    %li Your account name (if you were logged in at the time)
  %p
    Thank you for your cooperation and patience.
