- if user_signed_in? && current_user.voted_for?(item)
  - key = :delete
  - method = :delete
  - icon = "star"
- else
  - key = :create
  - method = :post
  - icon = "star-o"


- klass ||= "btn-flat waves-effect no-margin padding12-horizontal"
- klass += " tooltipped" unless user_signed_in?
- key = :needs_login unless user_signed_in?
- tooltip = t("vote.#{key}", item: item.model_name.singular)


= link_to [item, :vote], class: klass, method: method, remote: user_signed_in?, "data-tooltip": tooltip do
  = fa_icon(icon)
  = number_with_delimiter(item.votes_count)
