#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br
      %br
      %br
      %h1.header.center.white-text.text-darken-2 Stay focused
      .row.center
        %h5.header.col.s12.white-text.light= t('marketing.tagline')
      .row.center= link_to 'Get Started', new_user_registration_path, class: 'btn-large'
      %br/
      %br/
  .parallax
    %img.responsive-img{:src => "images/main_header.jpg", alt: 'Main header'}


.section.white
  .row.container
    %h2.header Parallax
    %p.grey-text.text-darken-3.lighten-3 Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

    %h2.header Parallax
    %p.grey-text.text-darken-3.lighten-3 Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

    %h2.header Parallax
    %p.grey-text.text-darken-3.lighten-3 Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.

    %h2.header Parallax
    %p.grey-text.text-darken-3.lighten-3 Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.
